<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sdasdas</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="views/css/style.css" media="screen" />
    </head>
<body>

<div style="padding:10px; font-family:Roboto; background-color: rgb(255, 250, 244);" >
    <h3><b>Armando Camiones Piña</b></h3>
    164577732</br>
    Administrativo</br>

    <div style="text-align: right; margin-top: 10px; margin-bottom: 15px;">
        <input  name="" placeholder="Buscar" class="form-control form-text" type="text" size="20" maxlength="150" />
        <input  name="" type="submit" value="Prestar"/></br>
        <p style="color: rgb(32, 160, 0);">HDMI34 ingresado Exitozamente</p>
    </div>

    <div style="margin-top: 6px">
        <b>HDMI n°5</b>
        <a href="" style="float: right;">Devolver</a>
    </div>
</div>

</body>
</html>