<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sdasdas</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="views/css/style.css" media="screen" />
    </head>
<body>

<div style="padding:10px; font-family:Roboto; background-color: antiquewhite;" >
    <b>Armando Camiones Piña</b></br>
    164577732</br>
    Administrativo</br>
    <form method="POST" action="">
        <div style="text-align: right; margin-top: 10px; margin-bottom: 15px;">
            <input  name="goods" placeholder="Buscar" class="form-control form-text" type="text" size="20" maxlength="150" />
            <input  name="loan" type="submit" value="Prestar"/>
         </div>
    </form>

    <form method="POST" action="">
        <div style="margin-top: 6px">
            <b>HDMI n°5</b>
            <a href="" style="float: right;">Devolver</a>
         </div>
    </form>
</div>

</body>
</html>