body{
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(254, 255, 239);
}
#menu{
    width: 100%;
    height: 40px;
    background-color: rgb(53, 64, 128);
    position: fixed; 
    left: 0px;
    top: 0px;
    text-align: right;
}
#menu ul{
    list-style: none;
    margin-top: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: white;
    display: block;
    padding: 11px;
    text-decoration: none;
}

#menu ul li a.btn:hover{
    background-color: teal;
}


#sidebar{
    width: 200px;
    height: 100%;
    position:fixed;
    top: 40px;
    left: 0;
    background-color: tomato;
}

#sidebar ul{
    list-style: none;
    margin-top: 0;
    padding: 0;
}

#sidebar ul li{
    display: inline;
}

#sidebar ul li a{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover{
    background-color: rgb(105, 99, 12);
}

#pages{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed; 
    left: 200px;
    top: 40px;
    padding: 40px;
}

#seeker{
    padding:8px 12px;
}

#seeker_btn{
    height: 34px;
}

table.two {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 600px;
    min-width: 400px;
}

table.one {
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 600px;
    min-width: 400px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

#simple_client{
    width: 100%;
    max-width: 500px;
    padding: 5px;
    background-color: #fefff2;
}

#simple_client:hover{
    width: 100%;
    max-width: 500px;
    color:#ffffff;
    background-color: #4ca800;
    cursor:pointer;
}

#one_client{
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #fefff2;
}